<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body class="d-flex flex-column align-content-between justify-content-between" style="height: 100vh;">
        <header>
            <%- include("partials/nav") %>
                <%- include("partials/hero") %>
        </header>

        <main class="flex-grow-1">
            <div class="container p-5">
                <h1 class="mb-4 text-center">🎶 Song List</h1>
                <div class="list-group">
                    <% songs.forEach(song=> { %>
                        <a href="/songs/<%= song.id %>"
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span><strong>
                                    <%= song.title %>
                                </strong> by <%= song.artist %></span>
                            <span class="badge bg-primary rounded-pill">View</span>
                        </a>
                        <% }) %>
                </div>
            </div>
        </main>

        <%- include("partials/footer") %>
    </body>

</html>