<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { page: `${song.title} - Details` }) %>

    <body class="d-flex flex-column align-content-between justify-content-between" style="height: 100vh;">
        <header>
            <%- include("../partials/nav") %>
        </header>

        <main class="flex-grow-1">
            <div class="container p-5">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title mb-3">
                            <%= song.title %>
                        </h2>
                        <p class="card-text"><strong>Artist:</strong>
                            <%= song.artist %>
                        </p>
                        <p class="card-text"><strong>Album:</strong>
                            <%= song.album %>
                        </p>

                        <%- include("../partials/youtube", { ytSrc: song.ytSrc }) %>

                            <a href="/" class="btn btn-outline-primary mt-3">← Back to song list</a>
                    </div>
                </div>
            </div>
        </main>

        <%- include("../partials/footer") %>
    </body>

</html>